<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTcp6z7a6JP33rrS8SRASw9YDy5M6c2GM</string>
	<key>GCM_SENDER_ID</key>
	<string>799474908487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.brolese.cropi</string>
	<key>PROJECT_ID</key>
	<string>cropi-399723</string>
	<key>STORAGE_BUCKET</key>
	<string>cropi-399723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799474908487:ios:9ce02340f9478642a96062</string>
</dict>
</plist>